{%- assign collection = collections[section.settings.collection] -%}
{%- assign bgColor = section.settings.collection_bg_color -%}
<section class="horizontal-sale-section"
  style="background: url('{{ collection.image | img_url: '1200x'}}'); background-size: cover; height: 700px; width: 100%; background-position: center;">
  <div class="overlay" style="background: {{ bgColor | color_modify: 'alpha', 0.5 }}">
    <span class="percent-number">
      {{ section.settings.percent}}%
    </span>
    <span class="title">
      OFF SALE
    </span>
    <a href="{{ collection.url }}">
      View
    </a>
  </div>
</section>



{% schema %}
{
  "name": "Horizontal Sale",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection On Sale",
      "info": "Choose a collection"
    },
    {
      "type": "text",
      "id": "percent",
      "default": "50",
      "label": "Percent Value of Sale"
    },
    {
      "type": "color",
      "id": "collection_bg_color",
      "label": "Background Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Horizonal Sale",
      "category": "Collection"
    }
  ]
}
{% endschema %}